<div class="row schools">
	<ul class="col-md-4 col-md-offset-1 schools-list">
		
	</ul>

</div>

<div class="row styles">
	<ul class="col-md-4 col-md-offset-1 styles-list">
		
	</ul>

</div>	












