<script type="text/template" id="home-template">

	<h1>Welcome to</h1>

	<div class="row header-2">
		<main class="col-md-12">
			<img id="logo-center" src="./Logo.png">
		</main>
	</div>

	<h1>Activity here</h1>

</script>