<script type="text/template" id="home-template">

	

	<div class="row header-2">
		<main class="col-md-12">
			<h1>Welcome to</h1>
			<img id="logo-center" src="./Logo.png">
		</main>
	</div>

	

</script>