<script type="text/template" id="school-edit-template">
	<div class="school-page" id="school-page-<%%= school.id %>">
  	<div class="school-id" id="<%%= school.id %>"></div>

  		<div class="school-logo">
  			<div class="row">
  				<img src="<%%= school.logo_url %>" class="logo">
  				<h3><input type="text" name="logo-url" value="<%%= school.logo_url %>"></h3>
  			</div>
  		</div>

  		<div class="school-header">
			<div class="row">

				<section class="col-md-6 col-md-offset-3">
					
					<h2><input type="text" name="name" value="<%%= school.name %>"></h2>

				</section>

				<section class="col-md-2 col-md-offset-1">
					<i class="fa fa-check-circle-o fa-3x save-button save-school"></i>
				</section>

				
			</div>

			<div class="row">
				<section class="col-md-6 col-md-offset-3 styles-area">
					<label><h3 class="style-title">Styles</h3>
						<%% _.each(school.styles, function(style){ %>
							<i class="style-name"><input type="text" name="style" value="<%%= style.name %>"</i>
						<%% }); %>
					</label>
				</section>
			</div>
		</div>

		<div class="row contact-info">
				
			<section class="col-md-4 col-md-offset-4 contact-info">
				<div class="contact-area">
					<h3>Phone:</h3><h4><input type="text" name="phone_number" value="<%%= school.phone_number %>"></h4>
					<h3>Address:</h3><input type="text" name="address" value="<%%= school.address %>"></h4>
					<h3>City:</h3><input type="text" name="city" value="<%%= school.city %>"></h4>
					<h3>State:</h3><input type="text" name="state" value="<%%= school.state %>"></h4>
					<h3>Zipcode:</h3><input type="text" name="address" value="<%%= school.zipcode %>"></h4>

					<hr>

					<h3>Email:</h3><input type="text" name="email" value="<%%= school.email %>"></h4>
					<h3>Site:</h3>
					<h4><input type="text" name="site_link" value="<%%= school.site_link %>"></h4>
					<h3>Facebook:</h3>
					<h4><input type="text" name="facebook_link" value="<%%= school.facebook_link %>"></h4>
					<h3>Twitter:</h3>
					<h4><input type="text" name="twitter_link" value="<%%= school.twitter_link %>"></h4>
				</div>
			</section>
		</div>

		<div class="row school-about">
			<section class="col-md-10 col-md-offset-1">
				<h1>About</h1>

				<section class="row">
					Country of Origin:<br/>
					<input type="text" name="country_of_origin" value="<%%= school.country_of_origin %>"></input>
				</section>

				<section class="row">
					Description:<br/>
					<textarea name="description" cols="60" rows="10" value="<%%= school.description %>"></textarea>
				</section>

				<section class="row">
					Lineage:<br/>
					<textarea name="lineage" cols="60" rows="10" value="<%%= school.lineage %>"></textarea>
				</section>

			</section>
		</div>

		<div class="row school-students">
			<section class="col-md-10 col-md-offset-1 students-row">
				<h1>Students</h1>

				<div class="row students-row">
					<ul class="student-list">
						<%% _.each(school.users, function(user){ %>
							<li><img src="<%%= user.profile_url %>"><h3> <%%= user.first_name %></h3></li>
						<%% }); %>
					</ul>
				</div>
			</section>
		</div>

		
	</div>
</script>


