<script type="text/template" id="school-list-template">
	<img src="<%%= school.logo_url %>" class="school-list-logo"><br/>
	<a id="school-<%%= school.id %>" class="school-name"><%%= school.name %></a><br/><br/>
</script>