<script type="text/template" id="transform-search-template">

	<div id="search-results">


		<h1 class="search-title">Search results for "<%%= variable %>"</h1>

		<div class="row search-style-title">
			<h2>Styles</h2>
		</div>
		<div class="search-results-styles"></div>

		<hr>

		<div class="row search-school-title">
			<h2>Schools</h2>
		</div>
		<div class="row search-results-schools"></div>
		
	</div>

</script>