<script type="text/template" id="transform-styles-template">

	<h2>Styles currently listed on MartialClub</h2>
	<h5>Click on a style to view schools associated with it.</h5><br/>
	<div class="row styles">
		<ul class="styles-list">
			
		</ul>

	</div>

</script>