<script type="text/template" id="transform-schools-template">
	
	<div class="schools-listed">
		<h2>Schools currently listed on MartialClub</h2>
		<h5>Click on a school to view info.</h5><br/>
	</div>

	<div class="row schools">
		<ul class="schools-list">
			
		</ul>

	</div>

</script>