<script type="text/template" id="user-page-template">
  <div class="user-page" id="user-page-<%%= user.id %>">
		<div class="row user-header">
			<section class="col-md-3 col-md-offset-1">
				<img src="<%%= user.profile_url %>" class="profile-pic-main">
			</section>
		

			<section class="col-md-7 col-md-offset-1">
				<div class="row">
					<div class=" col-md-7 user-name">
						<h2><%%= user.first_name %> <%%= user.last_name %><h2>
					</div>

					<div class="col-sm-1 col-lg-offset-4">
						<i class="fa fa-cog fa-spin fa-3x edit-button user-edit"></i>
					</div>
				</div>

				<div class="row">
					<section class="col-md-4">
						<h3 class="user-style-title">Styles</h3>
						<div class="user-style-list">
							<%% _.each(user.styles, function(style){ %>
								<h4><%%= style.name %></h4><br/>
							<%% }); %>
						</div>
					</section>

					<section class="col-md-4">
						<h3 class="user-school-title">Schools</h3>
						<div class="user-school-list">
							<%% _.each(user.schools, function(school){ %>
								<h4><%%= school.name %></h4><br/>
							<%% }); %>
						</div>
					</section>
				</div>

				
			</section>

			
		</div>

		<div class="row user-info">
			<section class="col-md-3">
				<h3><%% user.email %></h3>
			</section>
		</div>			
	</div>
</script>