
body {
	background-image: url('./wallpaper.jpg');
	background-size: 100%;
}

#logout-button {
	margin-left: 34px;
	margin-top: 23px;
}

#login-home-button {
	margin-left: 34px;
	margin-top: 10px;
}

#logo-login {
	width: 87%;
}

.logo-login-background {
	background: linear-gradient(red, #1C1C1C);
	border-radius: 10px;
	margin-top: 4%;
}

.logo-home-background {
	background: linear-gradient(red, #1C1C1C);
	border-radius: 10px;
	margin-top: 4%;
}

.signup-button {
	margin-left: 0% !important;
}

.login {
	margin-top: 3%;
}

.login-button {
	margin-left: 0% !important;
}

#sign-up-head {
	padding-top: 3%;
}

#login-head {
	padding-top: 3%;
}

.login-header {
	text-align: center;

}

.sign-up-box {
	background-color: white;
	height: 415px;
	border-radius: 10px;
	margin-top: 10%;
}

.login-box {
	display: none;
	background-color: white;
	height: 250px;
	border-radius: 10px;
	margin-bottom: 10%;
}

li {
	cursor: pointer;
	list-style-type: none;
}

img {
	cursor: pointer;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: black;
}

a:link {
    color: black;
}

a:hover {
	color: rgb(189,0,33);
	font-size: 101%;
}

i {
	cursor: pointer;
}

i:hover {
	color: rgb(189,0,33);
}

#logo-corner {
	height: 5em;
	float: left;
	margin-top: 4px;
}

#logo-center {
	height: 17em;
}

#user-corner {
	float: right;
}

#login-name {
	cursor: pointer;
	margin-top: 29px;
	margin-left: 3px;
	font-size: 19px;
}

#login-name:hover {
	color: rgb(189,0,33);
}

#logout {
	margin-left: 0%;
	margin-top: -4%;
}

#search-bar {
	width: 42%;
	height: 31px;
	margin-top: 4.39%;
}

.build-school {

}

.fa-search {
	margin-left: -7px;
	margin-top: 23px;
}

.profile-pic-home {
	height: 40px;
	padding: 0;
	margin-top: 7%;
	margin-right: -8%;
	margin-left: 27%;
}

.profile-pic-main {
	height: 300px;
	padding: 0;
	margin-top: 14%;
	margin-bottom: 14%;
	margin-left: -30%;
	border-radius: 10px;
}

input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
	margin-top: 17px;
	margin-left: 48px;
}

.header-1 {
	text-align: center;
	border: 1px solid black;
	height: 80px;
	margin-top: 10px;
	background: linear-gradient(#FFFFFB, #BDC0BA);
	/*background-color: #BDC0BA;*/
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.header-2 {
	text-align: center;
	height: 250px;
}

.header-nav {
	background: linear-gradient(#434343, #1C1C1C);
	height: 32px;
	color: red;
	text-align: center;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 5px 10px 5px #888888;
}

.header-nav h4{
	font-size: 20px;
	margin-top: 4px;
	margin-bottom: 0;
	cursor: pointer;
}

.header-nav h4:hover {
	font-size: 20.5px;
	color: #BDC0BA;
}

.schools-list {
	text-decoration: none;
	list-style-type: none;
	font-size: 20px;
	margin-top: 2%;
}

.schools-list li {

}

.school-list-logo {
	height: 100px;
	width: 100px;
	border-radius: 10px;
	border: 2px solid black;
}

.styles-list {
	text-decoration: none;
	list-style-type: none;
	font-size: 20px;
	margin-top: 2%;
}

.school-header {
	text-align: center;
	background: linear-gradient(#434343, #1C1C1C);
	margin-bottom: 22px;
	margin-top: 30px;
	border-radius: 10px;
}

#school-name {
	background: linear-gradient(#FFFFFB, #BDC0BA);
	border-radius: 10px;
	font-size: 300%;
}

.school-logo {
	text-align: center;
}

.logo {
	height: 300px;
	width: 300px;
	margin-top: 40px;
	border-radius: 22px;
	border: 3px solid black;
	box-shadow: 5px 15px 5px #888888;
}

.join-button {
	border-radius: 5px;
	border: 1px solid #1C1C1C;
    background: linear-gradient(#CB4042, rgb(189,0,33));
	margin-right: 20%;
	margin-left: 20%;
	font-size: 160%;
	cursor: pointer;
	color: white
}

.join-button:hover {
	font-size: 165%;
	background: white;
	color: rgb(189,0,33);
}

.leave-area {
	border-radius: 10px;
	border: 1px solid #1C1C1C;
    background: linear-gradient(#CB4042, rgb(189,0,33));
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 20px;
}

#joined {
	font-size: 160%;
}

.leave-button {
	border-radius: 5px;
	background: #1C1C1C;
	margin-right: 15%;
	margin-left: 15%;
	font-size: 120%;
	color: white;
	cursor: pointer;
}

.leave-button:hover {
	font-size: 125%;
	background: white;
	color: rgb(189,0,33);
}

.styles-area {
	color: white;
}

.style-title {
	font-size: 220%;
}

.style-name {
	font-size: 185%;
}

.contact-info {
	text-align: center;
}

.contact-area {
	border: 2px solid black;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
	color: black;
}
#map-canvas {
	border-radius: 10px;
	height: 300px;
	margin-right: -1.29%;
	margin-left: -1.29%;
}

.school-about {
	min-height: 175px;
	text-align: center;
	border-radius: 10px;
	background-color: #434343;
	font-size: 140%;
	color: white;
}

.school-students {
	min-height: 175px;
	text-align: center;
	color: white;
	background-color: rgb(189,0,33);
	margin-bottom: 2%;
	margin-top: 2%;
	border-radius: 10px;
}


.school-followers {
	min-height: 175px;
	text-align: center;
	color: white;
	background-color: rgb(189,0,33);
	margin-bottom: 10%;
	border-radius: 10px;
}

.students-row {
	text-align: center;
	margin: 0 auto;
}

.student-list {
    background: linear-gradient(#434343, #1C1C1C);
    border-radius: 10px;
    padding: 0;
}

.student-list li {
	display: inline-block;
	margin-top: 1%;
}

.student-list h3 {
	margin-top: 0;
	margin-bottom: 10%;
}
.students-row img {
	height: 50px;
	width: 50px;
}

.students-item {
	margin-right: 10px;
	margin-left: 10px;
}

.search-results {
	font-size: 20px;
	text-align: center;
}

.search-results li {
	text-decoration: none;
	list-style-type: none;
}

.edit-school {
	color: white;
}

.save-school {
	color: white;
}

.edit-button {
	margin-top: 10%;
}

.save-button {
	margin-top: 10%;
}

.user-edit {
	margin-right: -10px !important;
}

.user-name {
	margin-top: 19px;
}

.user-name h2 {
	font-size: 75px;
}

.user-header {
	background-color: black;
	margin-top: -24px;
	border-radius: 10px;
	color: white;
}

.user-style-title {
	border-radius: 5px;
	border: 1px solid #1C1C1C;
	background: linear-gradient(#CB4042, rgb(189,0,33));
	font-size: 160%;
	cursor: pointer;
	color: white;
	text-align: center;
}

.user-style-title:hover {
	font-size: 165%;
	background: white;
	color: rgb(189,0,33);
}

.user-school-title {
	border-radius: 5px;
	border: 1px solid #1C1C1C;
	background: linear-gradient(#CB4042, rgb(189,0,33));
	font-size: 160%;
	cursor: pointer;
	color: white;
	text-align: center;
}

.user-school-title:hover {
	font-size: 165%;
	background: white;
	color: rgb(189,0,33);
}

.user-school-list h4 {
	margin: 0 auto;
	margin-left: 6px
}

.user-style-list h4 {
	margin: 0 auto;
	margin-left: 6px
}

.user-school-list {
	display: none;
	border: 5px solid rgb(189,0,33);
	border-radius: 10px;
	margin-top: 11px;
	margin-bottom: 11px;
	width: 130%;
}

.user-style-list {
	display: none;
	border: 5px solid rgb(189,0,33);
	border-radius: 10px;
	margin-top: 11px;
	margin-bottom: 11px;
	width: 111%;
}

.profile-pic-label {
	margin-top: -16%;
	margin-left: -29%;
	margin-bottom: 7%;
}

.styles-listed {
	padding-top: 1%;
	margin-left: 1%;
}

.schools-listed {
	padding-top: 1%;
	margin-left: 1%;
}

.transform {
	background: linear-gradient(#FFFFFB, #BDC0BA);
	border-radius: 10px;
	min-height: 352px;
	margin-top: 3%; 
}

.search-title {
	padding-top: 1%;
	margin-left: 1%;
}

.search-style-title {
	padding-left: 5%;
}

.search-school-title {
	padding-left: 5%;
}

.search-results-styles {
	padding-left: 4%;
}

.search-results-schools {
	padding-left: 4%;
}

