<!DOCTYPE html>
<html>
<head>
  <title>MartialClub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/template" id="school-list-template">
  	<a id="school-<%%= school.id %>" class="school-name"><%%= school.name %></a>
  </script>

  <script type="text/template" id="school-page-template">
  	<div class="school-page" id="school-page-<%%= school.id %>">
		<div class="row school-header">
			<section class="col-md-6 col-md-offset-3">
				<h1>Logo</h1>
				<h2><%%= school.name %></h2>
				<%% school.styles.each do |style| %>
					<h3><%%= style.name %></h3>
				<%% end %>
			</section>

			<article class="col-md-4 col-md-offset-4 contact-info">
				Phone:<h4><%%= school.phone_number %></h4>
				Address:<h4><%%= school.address %> <%%= school.city %>, <%%= school.state %></h4>
				Email:<h4><%%= school.email %></h4>
				Links:<h4><%%= school.site_link %></h4>
				<h4><%%= school.facebook_link %></h4>
				<h4><%%= school.twitter_link %></h4>
				
			</article>
		</div>

		<div class="row school-about">
			<section class="col-md-10 col-md-offset-1">
				<h1>About</h1>
				<p><%%= school.description %></p>
			</section>
		</div>

		<div class="row school-students">
			<section class="col-md-10 col-md-offset-1">
				<h1>Students</h1>
				<%% school.users.each do |user| %>
					<h3><%%= user.first_name %> <%%= user.last_name %></h3>
				<%% end %>
			</section>
		</div>

		<div class="row school-followers">
			<section class="col-md-10 col-md-offset-1">
				<h1>Followers</h1>
				<%% school.followers.each do |follower| %>
					<h3><%%= User.find(follower.user_id).first_name %> <%%= User.find(follower.user_id).last_name %></h3>
				<%% end %>
			</section>
		</div>
		
	</div>
  </script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</head>
<body>

<%= yield %>

</body>
</html>
